<footer class="footer mt-3">{% load static %}
    <div class="row">
        <div class="footer-jumpup">
            <div class="container">
                <a href="javascript:void(0)">
                    <span href="javascript:void(0)" class="footer-jumpup-container"><i class="fa fa-angle-up"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <nav class="footer-feature-innerbox mb-1">
            <div class="footer-badge-item">
                <a href="#" class="footer-badge-link">
                    <img src="{% static 'assets/images/footer/delivery.svg' %}">
                    <span class="footer-badge-title">تحویل اکسپرس</span>
                </a>
            </div>
            <div class="footer-badge-item">
                <a href="#" class="footer-badge-link">
                    <img src="{% static 'assets/images/footer/contact-us.svg' %}">
                    <span class="footer-badge-title">پشتیبانی 24 ساعته</span>
                </a>
            </div>
            <div class="footer-badge-item">
                <a href="#" class="footer-badge-link">
                    <img src="{% static 'assets/images/footer/payment-terms.svg' %}">
                    <span class="footer-badge-title">پرداخت درمحل</span>
                </a>
            </div>
            <div class="footer-badge-item">
                <a href="#" class="footer-badge-link">
                    <img src="{% static 'assets/images/footer/return-policy.svg' %}">
                    <span class="footer-badge-title">۷ روز ضمانت بازگشت</span>
                </a>
            </div>
            <div class="footer-badge-item">
                <a href="#" class="footer-badge-link">
                    <img src="{% static 'assets/images/footer/origin-guarantee.svg' %}">
                    <span class="footer-badge-title">ضمانت اصل بودن کالا</span>
                </a>
            </div>
        </nav>
    </div>
    <article class="container-main">
        <div class="footer-middlebar">
            <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
                <div class="footer-links">
                    {% for footer in footers %}
                    
                    <div class="col-lg-4 col-md-4 col-xs-12 pull-right">
                        <nav class="footer-links-col">
                            <div class="headline-links mb-3">
                                <a href="#">
                                    {{footer.name}}
                                </a>
                            </div>
                            <ul class="footer-links-ul">
                                {% for sub_footer in footer.subfooter_set.all %}
                                <li>
                                    <a href="{{sub_footer.link}}">
                                        {{sub_footer.name}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
                <div class="footer-form">
                    <form action="#" class="form-newsletter mb-4 mt-4">
                        <fieldset>
                            <span class="form-newsletter-title">از تخفیف‌ها و جدیدترین‌های دیجی‌اسمارت
                                باخبرشوید:</span>
                            <div class="form-newsletter-row">
                                <input type="text" class="input-field-send-email"
                                    placeholder="آدرس ایمیل خود را وارد کنید">
                                <button type="submit" class="btn-secondary-send">ارسال</button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="footer-community">
                        <div class="footer-social mb-4 mt-4">
                            <span>دیجی‌اسمارت را در شبکه‌های اجتماعی دنبال کنید:</span>
                            <div class="footer-social">
                                <ul class="footer-ul-social">
                                    <li class="footer-social-item">
                                        <a href="#" class="footer-social-link">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="footer-social-item">
                                        <a href="#" class="footer-social-link">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="footer-social-item">
                                        <a href="#" class="footer-social-link">
                                            <i class="fa fa-linkedin-square"></i>
                                        </a>
                                    </li>
                                    <li class="footer-social-item">
                                        <a href="#" class="footer-social-link">
                                            <i class="fa fa-telegram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-more-info">
            <div class="footer-description-content">
                <div class="col-xs-8 col-md-8 col-xs-12 pull-right">
                    <div class="footer-content">
                        <article class="footer-seo mt-3">
                            <h1>فروشگاه اینترنتی دیجی‌اسمارت، بررسی، انتخاب و خرید آنلاین</h1>
                            <p>دیجی‌اسمارت به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه،
                                با پایبندی به سه اصل، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا
                                موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران
                                تبدیل شود. به محض ورود به سایت دیجی‌اسمارت با دنیایی از کالا رو به رو می‌شوید! هر
                                آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.</p>
                        </article>
                    </div>
                </div>
                <div class="">
                    <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
                        <aside>
                            <ul class="footer-safety-partner mt-4 pull-left">
                                <li class="footer-safety-partner-1">
                                    <a href="#">
                                        <img src="{% static 'assets/images/footer/license/L-2.png' %}">
                                    </a>
                                </li>
                                <li class="footer-safety-partner-1">
                                    <a href="#">
                                        <img src="{% static 'assets/images/footer/license/L-1.png' %}">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright-text">
                استفاده از مطالب فروشگاه اینترنتی دیجی‌اسمارت فقط برای مقاصد غیرتجاری و با ذکر منبع
                بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌اسمارت) می‌باشد.
            </div>
        </div>
    </article>
</footer>