{% extends "base.html" %}
{% load static %}
{% block main %}


    <div class="container-main">
        <div class="col-12">
            <div class="breadcrumb-container">
                <ul class="js-breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#" class="breadcrumb-link">خانه</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="breadcrumb-link">{{obj.category}}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="breadcrumb-link active-breadcrumb">{{obj.name}}</a>
                    </li>
                </ul>
            </div>
            <article class="product">
                <div class="col-lg-4 col-xs-12 pb-5 pull-right">
                    <!-- Product Options-->
                    <ul class="gallery-options">
                        <li>
                            <button class="options-item add-favorites"><i class="mdi mdi-heart"></i></button>
                            <span class="tooltip-option">افزودن به علاقمندی</span>
                        </li>
                        <li>
                            <a href="product-comparison.html" class="options-item add-compare mr-2"><i
                                    class="mdi mdi-compare"></i></a>
                            <span class="tooltip-option">مقایسه</span>
                        </li>
                        <li>
                            <button class="options-item btn-option-social" data-toggle="modal"
                                data-target="#exampleModalCenter">
                                <i class="mdi mdi-share-outline"></i>
                                <span class="tooltip-option">اشتراک گذاری</span>
                            </button>
                        </li>
                        <li>
                            <button class="options-item btn-option-alarm" data-toggle="modal"
                                data-target="#exampleModalCenteralarm">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="tooltip-option">اطلاع‌رسانی</span>
                            </button>
                        </li>
                    </ul>
                    <div class="product-timeout position-relative pt-5 mb-3">
                        {% if obj.is_special %}
                        <div class="promotion-badge">
                            فروش ویژه
                        </div>
                        {% endif %}
                        <div class="countdown countdown-style-3 h4" data-date-time="0/0/0 00:00"
                            data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                        </div>
                    </div>
                    <div class="product-gallery">
                        <span class="badge">پر فروش</span>
                        <div class="product-gallery-carousel owl-carousel">
                            <div class="item">
                                <a class="gallery-item" href="{{obj.image.url}}"
                                    data-fancybox="gallery1" data-hash="one">
                                    <img src="{{obj.image.url}}" alt="Product">
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item" href="{{obj.image_1.url}}"
                                    data-fancybox="gallery1" data-hash="two">
                                    <img src="{{obj.image_1.url}}" alt="Product">
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item" href="{{obj.image_3.url}}"
                                    data-fancybox="gallery1" data-hash="three">
                                    <img src="{{obj.image_3.url}}" alt="Product">
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item" href="{{obj.image.url}}"
                                    data-fancybox="gallery1" data-hash="four">
                                    <img src="{{obj.image.url}}" alt="Product">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal social-->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">اشتراک گذاری</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-share-title">ارسال به ایمیل</div>
                            <form for="#" class="send-to-email">
                                <div class="form-share-row mb-0">
                                    <div class="form-share-col">
                                        <input name="email" class="input-send-to-email" type="email"
                                            placeholder="آدرس ایمیل را وارد نمایید.">
                                    </div>
                                </div>
                                <div class="form-share-row mb-1">
                                    <div class="form-share-col">
                                        <div class="btn-send-email">ارسال</div>

                                        <ul class="btn-group-share">
                                            <li>
                                                <a href="#" class="btn-share btn-share-telegram">
                                                    <i class="fa fa-telegram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn-share btn-share-facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn-share btn-share-whatsapp">
                                                    <i class="fa fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                            <div class="form-share-row">
                                <div class="form-share-col">
                                    <input class="ui-url-field" type="url"
                                        value="https://www.digismart.com/product/dkp-1672478" readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal social-->
                <!-- Modal alarm -->
                <div class="modal fade" id="exampleModalCenteralarm" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                    اطلاع رسانی
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" class="form-notification">
                                    <div class="form-notification-title">از طریق:</div>
                                    <div class="form-notification-row">
                                        <div class="form-notification-col">
                                            <ul class="form-notification-params">
                                                <li>
                                                    <div class="form-auth-row">
                                                        <label class="ui-checkbox">
                                                            <input type="checkbox" value="1" name="login"
                                                                id="remember1">
                                                            <span class="ui-checkbox-check"></span>
                                                        </label>
                                                        <label for="remember1" class="remember-me">ایمیل به
                                                            <span class="js-observed-user-email">09911234567</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-auth-row">
                                                        <label class="ui-checkbox">
                                                            <input type="checkbox" value="1" name="login"
                                                                id="remember2">
                                                            <span class="ui-checkbox-check"></span>
                                                        </label>
                                                        <label for="remember2" class="remember-me">پیامک به
                                                            <span class="js-observed-user-email">09911234567</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-auth-row">
                                                        <label class="ui-checkbox">
                                                            <input type="checkbox" value="1" name="login"
                                                                id="remember3">
                                                            <span class="ui-checkbox-check"></span>
                                                        </label>
                                                        <label for="remember3" class="remember-me">به من اطلاع
                                                            بده</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer d-block text-left">
                                <button type="button" class="btn btn-primary ml-2">ثبت</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">بازگشت</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal alarm -->
                <div class="col-lg-8 col-xs-12 pull-right">
                    <section class="product-info">
                        <div class="product-headline">
                            <h1 data-obj="{{obj.price}}" id="base-price" class="product-title">
                               {{obj.name}}

                            </h1>
                        </div>
                        <div class="product-attributes">
                            <div class="col-lg-6 col-xs-12 pull-right">
                                <div class="product-config">
                                    <div class="product-config-wrapper">
                                        <div class="product-directory">
                                            <ul>
                                                <li>
                                                    <span>برند</span>
                                                    :
                                                    <a href="#" class="product-brand-title">{{obj.category.name}}</a>
                                                </li>
                                                <li>
                                                    <span>کد محصول</span>
                                                    :
                                                    <a href="javascript:void(0)" class="product-brand-title">{{obj.id}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product-variants">
                                            <span>انتخاب سایز: </span>
                                            <ul class="js-product-variants">
                                                {% for size in obj_size %}
                                                <li class="ui-variant">
                                                    <label for="#" class="ui-variant-color">
                                                        
                                                        <input data-price="{{size.price_difference}}" data-count="{{size.count}}" data-discount="{% if size.discount %}{{size.discount.discountـpercent}}{% else %}0{% endif %}" type="radio" value="4" name="color" id="variant"
                                                            class="js-variant-selector size-input">
                                                        <span class="ui-variant-check">{{size.size}}</span>
                                                    </label>
                                                </li>
                                               {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="product-params">
                                            <ul>ویژگی‌های محصول
                                                <li>
                                                  {{ obj.specification|linebreaks }}
                                                </li>
                                               
                                              
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xs-12 pull-left">
                                <div class="product-summary">
                                    <div class="product-seller-info">
                                        <div class="seller-info-changable">
                                            <div class="product-seller-row vendor">
                                                <span class="title"> فروشنده:</span>
                                                <a href="#" class="product-name">دیجی اسمارت</a>
                                            </div>
                                            <div class="product-seller-row guarantee">
                                                <span class="title"> گارانتی:</span>
                                                <a href="#" class="product-name">۱۸ ماهه دیجی اسمارت</a>
                                            </div>
                                            <div class="product-seller-row guarantee">
                                                <span class="title"> تعداد:</span>
                                                <a href="#" class="product-name" id="size-container">سایز مورد نظر را انتخاب کنید</a>
                                            </div>
                                            <div class="product-seller-row price">
                                                <div class="product-seller-price-info price-value mb-3">
                                                    <span class="title"> قیمت:</span>
                                                    <span id="total-price" class="amount text-danger">
                                                       سایز مورد نظر را انتخاب کنید
                                                        <span>تومان</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-seller-row price" id="selected-discount-div" >
                                                <div class="product-seller-price-info price-value mb-3">
                                                    <span class="title"> تخفیف:</span>
                                                    <span id="selected-discount" class="amount text-danger">
                                                       سایز مورد نظر را انتخاب کنید
                                                        <span>تومان</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="product-seller-row price" id="final-total-price-div" >
                                                <div class="product-seller-price-info price-value mb-3">
                                                    <span class="title"> قیمت نهایی:</span>
                                                    <span id="final-total-price" class="amount text-danger">
                                                       سایز مورد نظر را انتخاب کنید
                                                        <span>تومان</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="parent-btn">
                                                <button class="dk-btn dk-btn-info at-c as-c">
                                                    افزودن به سبد خرید
                                                    <i class="mdi mdi-cart"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </article>
        </div>

        <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
            <div class="section-slider-product mb-4">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">محصولات مرتبط</span>
                        <h3 class="card-title">مشاهده همه</h3>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                        <a href="#" class="d-inline-block">
                                            <img src="{% static 'assets/images/slider-product/tev-1.jpg' %}" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                تلویزیون ال ای دی هوشمند سامسونگ مدل 82NU8900 سایز 82 اینچ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins>
                                                <span>۳,۳۹۵,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                            <del>
                                                <span>۴,۵۳۰,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-favorites add-product-wishes"
                                                        type="submit" title="علاقه مندی">
                                                        <i class="mdi mdi-heart"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit"
                                                        title="مقایسه">
                                                        <i class="mdi mdi-compare"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit"
                                                        title="سبد خرید">
                                                        <i class="mdi mdi-shopping"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                        <a href="#" class="d-inline-block">
                                            <img src="{% static 'assets/images/slider-product/tev-2.jpg' %}" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                تلویزیون ال ای دی هوشمند ایکس ویژن مدل 55XT515 سایز 55 اینچ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins>
                                                <span>۳,۳۹۵,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                            <del>
                                                <span>۴,۵۳۰,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-favorites add-product-wishes"
                                                        type="submit" title="علاقه مندی">
                                                        <i class="mdi mdi-heart"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit"
                                                        title="مقایسه">
                                                        <i class="mdi mdi-compare"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit"
                                                        title="سبد خرید">
                                                        <i class="mdi mdi-shopping"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                        <a href="#" class="d-inline-block">
                                            <img src="{% static 'assets/images/slider-product/tev-3.jpg' %}" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                تلویزیون ال ای دی هوشمند مجیک تی وی مدل MT65D2400 سایز 65 اینچ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins>
                                                <span>۳,۳۹۵,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                            <del>
                                                <span>۴,۵۳۰,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-favorites add-product-wishes"
                                                        type="submit" title="علاقه مندی">
                                                        <i class="mdi mdi-heart"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit"
                                                        title="مقایسه">
                                                        <i class="mdi mdi-compare"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit"
                                                        title="سبد خرید">
                                                        <i class="mdi mdi-shopping"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                        <a href="#" class="d-inline-block">
                                            <img src="{% static 'assets/images/slider-product/tev-4.jpg' %}" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                تلویزیون ال ای دی ال جی مدل 43LJ52100 سایز 43 اینچ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins>
                                                <span>۳,۳۹۵,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                            <del>
                                                <span>۴,۵۳۰,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-favorites add-product-wishes"
                                                        type="submit" title="علاقه مندی">
                                                        <i class="mdi mdi-heart"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit"
                                                        title="مقایسه">
                                                        <i class="mdi mdi-compare"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit"
                                                        title="سبد خرید">
                                                        <i class="mdi mdi-shopping"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                        <a href="#" class="d-inline-block">
                                            <img src="{% static 'assets/images/slider-product/tev-5.jpg' %}" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                تلویزیون ال ای دی هوشمند ایکس ویژن مدل 49XTU725 سایز 49 اینچ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins>
                                                <span>۳,۳۹۵,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                            <del>
                                                <span>۴,۵۳۰,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-favorites add-product-wishes"
                                                        type="submit" title="علاقه مندی">
                                                        <i class="mdi mdi-heart"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit"
                                                        title="مقایسه">
                                                        <i class="mdi mdi-compare"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit"
                                                        title="سبد خرید">
                                                        <i class="mdi mdi-shopping"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                        <a href="#" class="d-inline-block">
                                            <img src="{% static 'assets/images/slider-product/tev-6.jpg' %}" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                تلویزیون ال ای دی هوشمند ایکس ویژن مدل 43XT725 سایز 43 اینچ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins>
                                                <span>۳,۳۹۵,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                            <del>
                                                <span>۴,۵۳۰,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-favorites add-product-wishes"
                                                        type="submit" title="علاقه مندی">
                                                        <i class="mdi mdi-heart"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit"
                                                        title="مقایسه">
                                                        <i class="mdi mdi-compare"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit"
                                                        title="سبد خرید">
                                                        <i class="mdi mdi-shopping"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                        <a href="#" class="d-inline-block">
                                            <img src="{% static 'assets/images/slider-product/tev-7.jpg' %}" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                تلویزیون ال ای دی هوشمند ایکس ویژن مدل 55XTU725 سایز 55 اینچ
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <ins>
                                                <span>۳,۳۹۵,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </ins>
                                            <del>
                                                <span>۴,۵۳۰,۰۰۰
                                                    <span>تومان</span>
                                                </span>
                                            </del>
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-favorites add-product-wishes"
                                                        type="submit" title="علاقه مندی">
                                                        <i class="mdi mdi-heart"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit"
                                                        title="مقایسه">
                                                        <i class="mdi mdi-compare"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit"
                                                        title="سبد خرید">
                                                        <i class="mdi mdi-shopping"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="tabs mt-4 pt-3 mb-5">
                <div class="tabs-product">
                    <div class="tab-wrapper">
                        <ul class="box-tabs nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="box-tab-item nav-link active" id="review-tab" data-toggle="tab" href="#review"
                                    role="tab" aria-controls="review" aria-selected="true">
                                    <i class="mdi mdi-glasses"></i>
                                    نقد و بررسی</a>
                            </li>
                            <li class="box-tabs-tab nav-item">
                                <a class="box-tab-item nav-link" id="specifications-tab" data-toggle="tab"
                                    href="#specifications" role="tab" aria-controls="specifications"
                                    aria-selected="false">
                                    <i class="mdi mdi-format-list-checks"></i>
                                    مشخصات</a>
                            </li>
                            
                            <li class="box-tabs-tab nav-item">
                                <a class="box-tab-item nav-link" id="question-tab" data-toggle="tab" href="#question"
                                    role="tab" aria-controls="question" aria-selected="false">
                                    <i class="mdi mdi-comment-question-outline"></i>
                                    پرسش و پاسخ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-content tab-content" id="myTabContent">
                        <div class="tab-content-wrapper tab-pane fade show active" id="review" role="tabpanel"
                            aria-labelledby="review-tab">
                            <article>
                                <h2 class="params-headline">نقد و بررسی
                                    <span>{{obj.name}}</span>
                                </h2>
                                <section class="-summary">
                                    <div class="mask pm-3">
                                        <div class="mask-text">
                                            <p>{{obj.description}}</p>
                                        </div>
                                        <a href="#" class="mask-handler">
                                            <span class="show-more">+ ادامه مطلب</span>
                                            <span class="show-less">- بستن</span>
                                        </a>
                                        <div class="shadow-box"></div>
                                    </div>
                                </section>
                                

                            </article>
                        </div>
                        <div class="tab-content-wrapper tab-pane fade" id="specifications" role="tabpanel"
                            aria-labelledby="specifications-tab">
                            <article>
                                <h2 class="params-headline">مشخصات فنی
                                    <span>{{obj.name}}</span>
                                </h2>
                                <section>
                                    <h3 class="params-title">مشخصات کلی</h3>
                                    <ul class="params-list">
                                        <li class="params-list-item">
                                            <div class="params-list-key">
                                                <span class="block">کیفیت</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span class="block">
                                                    {{obj.quality}}
                                                </span>
                                            </div>
                                        </li>
                                        <li class="params-list-item">
                                            <div class="params-list-key">
                                                <span class="block">نوع صفحه نمایش</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span class="block">
                                                   {{obj.pannel_type}}
                                                </span>
                                            </div>
                                        </li>
                                        <li class="params-list-item">
                                            <div class="params-list-key">
                                                <span class="block">port</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span class="block">
                                                    {{obj.port}}
                                                </span>
                                            </div>
                                        </li>
                                        <li class="params-list-item">
                                            <div class="params-list-key">
                                                <span class="block">برند</span>
                                            </div>
                                            <div class="params-list-value">
                                                <span class="block">
                                                    {{obj.category}}
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </section>

                            </article>
                        </div>

                        <div class="tab-content-wrapper tab-pane fade" id="question" role="tabpanel"
                            aria-labelledby="question-tab">
                            <div class="faq-headline">
                                پرسش و پاسخ
                                <span>پرسش خود را در مورد محصول مطرح نمایید</span>
                            </div>
                        <form method='post' action=''>
                            {% csrf_token %}
                            <div class="form-faq">
                                <div class="form-faq-row mt-3">
                                    <div class="form-faq-col">
                                        <div class="ui-textarea">
                                            <textarea name='text' title="متن سوال" class="ui-textarea-field"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-faq-row mt-3">
                                    <div class="form-faq-col form-faq-col-submit">
                                        <button class="btn-tertiary">ثبت پرسش</button>
                                    </div>
                                    <div class="form-faq-col form-faq-col-agreement">
                                        <div class="form-auth-row">
                                            <label for="#" class="ui-checkbox">
                                                <input type="checkbox" value="1" name="login" id="remember">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label for="remember" class="remember-me">اولین پاسخی که به پرسش من داده
                                                شد، از طریق ایمیل به من اطلاع دهید. </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% for com in comments %}
                        <div id="product-questions-list">
                                <div class="questions-list">
                                    <ul class="faq-list">
                                        <li class="is-question">
                                            <div class="section">
                                                <div class="faq-header">
                                                    <span class="icon-faq">?</span>
                                                    <p class="h5">
                                                        پرسش :
                                                        <span>{{com.profile.full_name}}</span>
                                                    </p>
                                                </div>
                                                <p>{{com.text}}</p>
                                                <div class="faq-date">
                                                    <em>{{com.created_date}}</em>
                                                </div>
                                                
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {% if com.answer %}
                                <div class="questions-list answer-questions">
                                    <ul class="faq-list">
                                        <li class="is-question">
                                            <div class="section">
                                                <div class="faq-header">
                                                    <span class="icon-faq"><i class="mdi mdi-storefront"></i></span>
                                                    <p class="h5">
                                                        پاسخ فروشنده :
                                                       
                                                    </p>
                                                </div>
                                                <p>{{com.answer}}</p>
                                            
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

<script>
    $(document).ready(function() {
        $('#selected-discount-div').hide()
        $('#final-total-price-div').hide()
        $('.size-input').click(function(){
        input_count= $(this).data('count');
        $('#size-container').text(input_count);
       })
    });
    
    $(document).ready(function(){
       $('.size-input').click(function(){
        input_price= $(this).data('price');
        input_discount = $(this).data('discount');
        base_price = $('#base-price').data('obj');

        total_price = base_price + input_price
        $('#total-price').text(total_price);
        
        if (input_discount != 0 ){
            $('#selected-discount-div').show()
            $('#selected-discount').text(input_discount + '%')

            $('#final-total-price-div').show()
            final_total_price = total_price  - total_price * (input_discount/100)
            $('#final-total-price').text(final_total_price)
            }

        });
    });
    
    </script>
{% endblock %}