<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فاکتور فروش</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: right;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .total {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h2>فاکتور فروش {{order_det.shopping_id}}</h2>
    <table>
        <thead>
            <tr>
                <th>مورد</th>
                <th>تعداد</th>
                <th>قیمت</th>
                <th>درصدتخفیف</th>
                <th>جمع</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.product_variant.product.name}} با سایز  {{product.product_variant.size}}</td>
                <td>{{product.quantity}}</td>
                <td>$10.00</td>
                <td>{{product.calculated_discount}}</td>
                <td>{{product.final_price}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="total">جمع کل</td>
                <td class="total">{{total_price}}</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
