{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="nav-categories-overlay"></div>
<article class="container-main">
    <div class="page-row-main-top">
        <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
            <div class="main-slider-container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        {% for slider in sliders %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{slider.image.url}}" alt="First slide">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!--    slider--------------------------------->
        <!--adplacement-------------------------------->
        <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
            <aside class="adplacement-container-column">
                <a href="#" class="adplacement-item adplacement-item-column">
                    <div class="adplacement-sponsored-box">
                        <img src="{{site_setting.left_sidebar_banner_1.url}}">
                    </div>
                </a>
                <a href="#" class="adplacement-item adplacement-item-column">
                    <div class="adplacement-sponsored-box">
                        <img src="{{site_setting.left_sidebar_banner_2.url}}">
                    </div>
                </a>
            </aside>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-xs-12 pull-right">
        <div class="section-slider-product mb-4 mt-3">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one">جدیدترین محصولات</span>
                    <a href="{% url 'product:listview' %}"><h3 class="card-title"> مشاهده همه</h3></a>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            {% for product in all_products %}
                                {% include "layout/product_small_item.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-12 pull-left">
        <div class="promo-single mb-4 mt-3">
            <div class="widget-suggestion widget card">
                <header class="card-header cart-sidebar">
                    <h3 class="card-title ts-3">پیشنهادهای لحظه‌ای (به زودی)</h3>
                </header>
                <div id="progressBar">
                    <div class="slide-progress" style="width: 100%; transition: width 5000ms ease 0s;"></div>
                </div>
                <div id="suggestion-slider" class="owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        {% comment %} <div class="owl-stage"
                            style="transform: translate3d(1369px, 0px, 0px); transition: all 0.25s ease 0s; width: 2190px;">
                            <div class="owl-item cloned" style="width: 273.75px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="{% static 'assets/images/sidebar/1.jpg' %}" class="w-100" alt="" loading="lazy">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="#"> کارت گرافیک ای ام دی مدل Radeon HD 6450 </a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price-discount">%10</span>
                                        <span class="amount">2,515,00<span>تومان</span></span>
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 273.75px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="{% static 'assets/images/sidebar/2.jpg' %}" class="w-100" alt="" loading="lazy">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="#"> هندزفری بلوتوث مدل SP01 </a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price-discount">%10</span>
                                        <span class="amount">2,515,00<span>تومان</span></span>
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star"></span>
                                            <span class="mdi mdi-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 273.75px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="{% static 'assets/images/sidebar/3.jpg' %}" class="w-100" alt="" loading="lazy">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="#"> هدفون بی سیم نیا مدل Q8-851S</a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price-discount">%10</span>
                                        <span class="amount">2,515,00<span>تومان</span></span>
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 273.75px;">
                                <div class="item">
                                    <a href="#">
                                        <img src="{% static 'assets/images/sidebar/4.jpg' %}" class="w-100" alt="" loading="lazy">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="#"> هدفون آیوان مدل E47
                                        </a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price-discount">%10</span>
                                        <span class="amount">2,515,00<span>تومان</span></span>
                                        <div class="stars-plp">
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star active"></span>
                                            <span class="mdi mdi-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button><button type="button" role="presentation"
                            class="owl-next"><span aria-label="Next">›</span></button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="adplacement-container-row mb-4">
            <div class="col-6 col-lg-6 pull-right" style="padding-left:0;">
                <a href="#" class="adplacement-item">
                    <div class="adplacement-sponsored-box">
                        <img src="{% static 'assets/images/adplacement/7.jpg' %}" alt="باراد" title="باراد" loading="lazy">
                    </div>
                </a>
            </div>

            <div class="col-6 col-lg-6 pull-right" style="padding-left:0;">
                <a href="#" class="adplacement-item">
                    <div class="adplacement-sponsored-box">
                        <img src="{% static 'assets/images/adplacement/8.jpg' %}" alt="پارس حیان" title="پارس حیان" loading="lazy">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
        <div class="section-slider-product mb-4">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one">محبوب ترین ها</span>
                    <a href="{% url 'product:listview' %}"><h3 class="card-title"> مشاهده همه</h3></a>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            {% for product in popular_products %}
                                {% include "layout/product_small_item.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="adplacement-container-row mb-4">

            <div class="col-6 col-lg-6 pull-right" style="padding-left:0;">
                <a href="#" class="adplacement-item">
                    <div class="adplacement-sponsored-box">
                        <img src="{% static 'assets/images/adplacement/9.jpg' %}" alt="پوشاک ورزشی مردانه"
                            title="پوشاک ورزشی مردانه" loading="lazy">
                    </div>
                </a>
            </div>

            <div class="col-6 col-lg-6 pull-right" style="padding-left:0;">
                <a href="#" class="adplacement-item">
                    <div class="adplacement-sponsored-box">
                        <img src="{% static 'assets/images/adplacement/10.jpg' %}" alt="نوشت افزار" title="نوشت افزار" loading="lazy">
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
        <div class="section-slider-product mb-4">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one">پرفروش ترین ها</span>
                    <a href="{% url 'product:listview' %}"><h3 class="card-title"> مشاهده همه</h3></a>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            {% for product in most_sell_products %}
                                {% include "layout/product_small_item.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock main %}
