<!doctype html>
{% load static %}
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>مولیو | قالب چند منظوره به زودی اچ تی ام ال</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'font/flaticon.css' %}">
    <!-- Magic popup CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'css/fxt-animation.css' %}">
    <!-- Google Web Fonts -->
 
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <!-- Main Body Area Start Here -->   
        <div class="fxt-template-layout18">                        
            <div class="fxt-main-content has-animation" data-bg-image="media/figure/bg8.jpg">     
                <!-- Animation Start Here -->
                <div class="starfield"></div>
                <!-- Animation End Here -->            
                <div class="fxt-contents">
                    <div class="translate-bottom-100 transition-100 transition-delay-800">
                        <div class="fxt-sub-title"> بـه زودی ...</div>
                    </div>
                    <div class="translate-bottom-100 transition-100 transition-delay-1000">
                        <div class="fxt-countdown">
                            <div class="countdown"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Body Area End Here -->  
    </div>
    <!-- jquery-->
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Pace Preloader js -->
    <script src="{% static 'js/pace.min.js' %}"></script>
    <!-- Starfield js -->
    <script src="{% static 'js/starfield.js' %}"></script>
    <!-- Imagesloaded js -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>   
     <!-- Magic Popup js -->
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
     <!-- Countdown js -->
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- Validator js -->
    <script src="{% static 'js/validator.min.js' %}"></script>    
    <!-- Custom Js -->
    <script src="{% static 'js/main.js' %}"></script>    

</body>

</html>