{% extends "base.html" %}
{% load static %}
{% block main %}

    <div class="container-main">
        <div class="col-12">
            <div class="breadcrumb-container">
                <ul class="js-breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home:index-page' %}" class="breadcrumb-link">خانه</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)" class="breadcrumb-link">نمایش محصول</a>
                    </li>
                </ul>
            </div>
        </div>
 
        <div class="col-lg-12 col-md-8 col-xs-12 pull-left">
            <div class="page-contents">
                <article class="listing-wrapper-tab">
                    <div class="listing mb-4">
                        <div class="listing-header">
                            <div class="listing-sort-option-header">
                                <ul class="sort-options">
                                    <li class="listing-active">
                                        <a href="javascript:void(0)" class="listing-tab-item">پرفروش‌ترین‌</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <ul class="listing-items">
                            <li style="display:block;">
                                {% for obj in product_obj %}
                                <div class="col-lg-4 col-md-4 col-xs-12 pull-right mb-3">
                                    <div class="product-vertical">
                                        <div class="vertical-product-thumb">
                                            <a href="{% url 'product:detail' category=obj.category.name id=obj.id %}">
                                                <div class="stars-plp">
                                                    <span class="mdi mdi-star active"></span>
                                                    <span class="mdi mdi-star active"></span>
                                                    <span class="mdi mdi-star active"></span>
                                                    <span class="mdi mdi-star active"></span>
                                                    <span class="mdi mdi-star"></span>
                                                </div>
                                                <img src="{{obj.image.url}}">
                                            </a>
                                        </div>
                                        <div class="card-vertical-product-content">
                                            <div class="card-vertical-product-title">
                                                <a href="#">
                                                    {{obj.name}}
                                                </a>
                                            </div>
                                            <div class="card-vertical-product-price">
                                                {{obj.price}}
                                                <span class="price-currency">تومان</span>
                                            </div>
                                            <div class="product-actions-secondary">
                                                <div class="heart" title="افزودن به لیست علاقه مندی">
                                                    <span class="mdi mdi-heart"></span>
                                                </div>
                                                <div class="product-introduction-cart" title="افزودن به سبد خرید">
                                                    <span class="c-introduction">
                                                        افزودن به سبد خرید
                                                    </span>
                                                </div>
                                                <div class="comparison" title="افزودن برای مقایسه">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </li>

                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>

    {% endblock %}
