{% extends "base.html" %}
{% load static %}
{% load render_partial %}

{% block breadcrumb %}
<div class="container-main">
    <div class="col-12">
        <div class="breadcrumb-container">
            <ul class="js-breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url "home:index-page" %}" class="breadcrumb-link">خانه</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="breadcrumb-link active-breadcrumb">پروفایل</a>
                </li>
            </ul>
        </div>
    </div>
    {% render_partial  "account:profile-sidebar" %}
{% endblock breadcrumb %}


{% block main %}
    <div class="col-lg-9 col-md-9 col-xs-12 pull-left">
        <section class="page-contents">
            <div class="profile-content">
                <div class="headline-profile">
                    <span>اطلاعات شخصی</span>
                </div>
                <div class="profile-stats">
                    <div class="profile-stats-row">
                        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
                            <div class="profile-stats-col">
                                <div class="profile-stats-content">
                                    <span class="profile-first-title"> نام و نام خانوادگی :</span>
                                    <span class="profile-second-title">{{profile.full_name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
                            <div class="profile-stats-col">
                                <div class="profile-stats-content">
                                    <span class="profile-first-title"> پست الکترونیک :</span>
                                    <span class="profile-second-title">{{profile.email}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
                            <div class="profile-stats-col">
                                <div class="profile-stats-content">
                                    <span class="profile-first-title"> شماره تلفن همراه :</span>
                                    <span class="profile-second-title">{{user.phone_number}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
                            <div class="profile-stats-col">
                                <div class="profile-stats-content">
                                    <span class="profile-first-title"> کد پستی:</span>
                                    <span class="profile-second-title">{{profile.postalcode}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
                            <div class="profile-stats-col">
                                <div class="profile-stats-content">
                                    <span class="profile-first-title"> دریافت خبرنامه :</span>
                                    <span class="profile-second-title">{% if profile.recive_newsletter %}بله {% else %}خیر{% endif %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
                            <div class="profile-stats-col">
                                <div class="profile-stats-content">
                                    <span class="profile-first-title"> دریافت مناسبات :</span>
                                    <span class="profile-second-title">{% if profile.recive_events %}بله {% else %}خیر{% endif %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-stats-action">
                        <a href="{% url "account:profile-add-info-page" %}" class="link-spoiler-edit"><i class="fa fa-pencil"></i>ویرایش اطلاعات شخصی</a>
                    </div>
                </div>
            </div>
            <div class="profile-content">
                <div class="headline-profile">
                    <span>لیست علاقه مندی</span>
                </div>
                <div class="profile-stats">
                    <div class="profile-recent-fav">
                        <a href="#" class="profile-recent-fav-col">
                            <img src="{% static 'assets/images/cart/111460776.jpg' %}">
                        </a>
                        <div class="profile-recent-fav-col-title">
                            <a href="#">
                                <h3 class="profile-recent-fav-name">گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS
                                    دو سیم کارت ظرفیت 128گیگابایت</h3>
                            </a>
                        </div>
                        <div class="profile-recent-fav-price">
                            ۳,۲۶۳,۰۰۰
                            <span>تومان</span>
                        </div>
                        <div class="profile-recent-fav-col-actions">
                            <button class="js-remove-favorite-product"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <div class="profile-recent-fav">
                        <a href="#" class="profile-recent-fav-col">
                            <img src="{% static 'assets/images/cart/111460776.jpg' %}">
                        </a>
                        <div class="profile-recent-fav-col-title">
                            <a href="#">
                                <h3 class="profile-recent-fav-name">گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS
                                    دو سیم کارت ظرفیت 128گیگابایت</h3>
                            </a>
                        </div>
                        <div class="profile-recent-fav-price">
                            ۳,۲۶۳,۰۰۰
                            <span>تومان</span>
                        </div>
                        <div class="profile-recent-fav-col-actions">
                            <button class="js-remove-favorite-product"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <div class="profile-stats-action">
                        <a href="#" class="link-spoiler-edit"><i class="fa fa-pencil"></i>مشاهده و ویرایش لیست علاقه
                            مندی</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock main %}

{% block js %}
<script>
    $(document).ready(function(){
        $('#profile').addClass('active-profile')
    });
</script>
{% endblock js %}